@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Inventory System. </p>
<p>Interested people can buy bunch of specific products and upload the details of product in the website. The administrator will approve those products if the products meets the requirement.</p>
<p>
    Then the user can deliver the peoduct. Finally administrator receives the product, verifies the quantity and finally pays the user.
</p>
